<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.zcl.demo.dao.email.EmailDao">
    <insert id="save" parameterType="com.zcl.demo.model.email.Email">
        insert into t_email
        values (#{eId}, #{eTopic}, #{eUrl}, #{eContent}, #{createUser}, #{createTime})
    </insert>

    <select id="queryAllEmailByUid" resultType="com.zcl.demo.model.email.Email">
        select t1.e_id, t1.e_topic, t1.create_time, t1.create_user
        from t_email t1
                 join t_notice t2
                      on t1.e_id = t2.e_id
        where t2.recive_man = #{userId}
    </select>

    <select id="queryDysnEmailByVo" resultType="com.zcl.demo.model.email.Email">
        select  t3.u_name,t1.e_id,t1.e_topic, t1.create_time, t1.create_user
        from t_email t1
        join t_notice t2
        on t1.e_id = t2.e_id
        join t_user t3
        on t1.create_user=t3.u_id
        <where>
            t2.recive_man = #{userId}
            <if test="emailSerchVo.isReaded=null and emailSerchVo.isReaded=''">
                and t2.is_readed=#{emailSerchVo.isReaded}
            </if>
            <if test="emailSerchVo.sendMan=null and emailSerchVo.sendMan=''">
                and t3.u_name like concat('%',#{SerchVo.sendMan},'%')
            </if>
            <if test="emailSerchVo.reviceTime=null and emailSerchVo.reviceTime=''">
                and substring(t2.create_time,1,8)=#{SerchVo.reviceTime}
            </if>
        </where>
    </select>

</mapper>